h1{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

html{
    background-color: #969696;
}

.profilebutton{
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    width: 210px;
    height: 40px;
    font-size: 20px;
    text-align: left;
    position: absolute;
    top: 70px;
}

.instagram_logo{
    width: 35px;
    height: 35px;
    position: relative;
    left: 168px;
    bottom: 6.5px;
}

.holybrook{
    width: 1310px;
    height: 1040px;
    position: absolute;
    top: 100px;
}

.linearpark{
    position: absolute;
    top: 1150px;
}

.sky_timelapse{
    position: absolute;
    top: 2040px;
    width: 1310px;
    height: 1040px;
}

.trees{
    position: absolute;
    top: 3100px;
}

.heart{
    position: absolute;
    top: 3900px;
    width: 90%;
}

footer{
    position: fixed;
    bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    left: 50px;
    bottom: 5px;
}